.drop-wrapper {
  padding:5vh;
}
.drop-images {
  padding:5vh;
  text-align:center;
  display:flex;
  justify-content:center;
}
.dropzone {
  border:2px dashed #8563c9;
  height:20vh;
  flex:1;
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.uploaded-wrapper {
  padding:5vh;
}
.uploaded-images {
  text-align:center;
  padding:2vh;
}
.uploaded-images img {
  height:10vh;
  padding:1vw;
}
.upload-button {
  text-align:center;
}
.upload-button button {
  padding:2vw;
  background-color:#8563c9;
  color:white;
  border:none;
  cursor:pointer;
}
.mapped-images {
  max-width:250px;
  padding:10px;
}
