.auth, .logout {
    display:flex;
    flex-direction:column; 
    text-align:center;
    margin:auto;
    max-width:400px;
}
.auth input {
    margin:1vh;
    height:5vh;
}
.logout {
  padding-top:5vh;
}
.logout button {
    margin:2vh;
    height:5vh;
}
/* MOBILE VIEW */

@media only screen and (max-width:812px) {
    .auth {
        padding:5vh 0vh;
    }

}

/* DESKTOP VIEW */

@media only screen and (min-width:812px) {
    .auth {
        padding:5vh;

    }

}
