.dashboard {
  display:flex;
  height:100%;
}


/* side nav bar */
.side-nav {
  display:flex;
  flex-direction:column;
  background-color:#8563C9;
  flex-basis:auto;
  flex-grow:1;
  width:7vw;
}
.side-nav a {
  color:white;
  text-decoration:none;
  height:8vh;
  display:flex;
  align-items:center;
  padding-left:3vw;
}
.user {
  color:white; 
  height:8vh;
  border-bottom:1px solid #d3d3d3;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
}


/* dashboard view template */
.dash-view {
  flex:8;
  background-color:#f7f7f8;
}


/* top nav bar */
.dash-topnav {
  background-color:white;
  height:8vh;
  border-bottom:1px solid ##d3d3d3;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-right:5vw;
}


