.dashboard {
  display:flex;
  height:100%;
}


/* side nav bar */
.side-nav {
  display:flex;
  flex-direction:column;
  background-color:#8563C9;
  flex-basis:auto;
  flex-grow:1;
  width:7vw;
}
.side-nav a {
  color:white;
  text-decoration:none;
  height:8vh;
  display:flex;
  align-items:center;
  padding-left:3vw;
}
.user {
  color:white; 
  height:8vh;
  border-bottom:1px solid #d3d3d3;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
}


/* dashboard view template */
.dash-view {
  flex:8;
  background-color:#f7f7f8;
  overflow:auto;
}
.dash-wrapper {
  padding:5vw;
}

/* top nav bar */
.dash-topnav {
  background-color:white;
  height:8vh;
  border-bottom:1px solid ##d3d3d3;
  display:flex;
  align-items:center;
}
.dash-topnav a:not(.dtn-menu) {
  text-decoration:none;
  color:gray;
  padding-right:5vw;
  cursor:pointer;
}
.dtn-menu {
  padding-left:5vw;
}
.dtn-menu img {
  content:url('./dashMenu.svg');
  cursor:pointer;
}

/* MOBILE VIEW */

@media only screen and (max-width:812px) {
  .dtn-menu {
    display:block;
    flex:8;
  }
}
/* DESKTOP VIEW */

@media only screen and (min-width:812px) {
  .dtn-menu {
    display:none;
  }
  .dash-topnav {
    justify-content:flex-end;
  }
}
